* {
    margin: 0;
    padding: 0;
  }
  
  .blog-posts-wrap h2,
  p,
  .blog-posts-wrap  a {
    font-family: 'roboto', sans-serif;
  }
  
  .blog-posts-wrap a {
    text-decoration: none;
  }
  
  .blog-posts-wrap {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }
  
  .blog-posts-wrap  .post-link {
    margin: 20px 20px 20px 20px;
  }
  
  .blog-posts-wrap .post-wrap {
    display: flex;
    flex-direction: column;
    position: relative;
    width: 400px;
    background-color: #fff;
    box-shadow: 0px 2px 20px rgba(0,0,0,.25);
    transition: all .25s;
    top: 0;
    border-radius: 10px;
    overflow: hidden;
  }
  
  .blog-posts-wrap .post-wrap:hover {
    top: 2px;
    box-shadow: 0px 0px 10px rgba(0,0,0,.25);
  }
  
  .blog-posts-wrap .post-image {
    height: 200px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }
  
  .blog-posts-wrap .post-body {
    background-image: url('../../../Asserts/card-background2.webp');
    padding: 10px;
    margin: 0 auto;
    width: 100%;
  }
  
  .blog-posts-wrap .post-body-primary {
    margin: 40px 0 40px 0;
  }
  
  .blog-posts-wrap .post-meta {
    color: #7B7B7B;
  }
  
  .blog-posts-wrap .post-meta b {
    font-weight: 500;
  }
  
  .blog-posts-wrap .post-title {
    color: #444;
    font-size: 20px;
    padding: 5px 0 10px 0;
  }
  
  .blog-posts-wrap .post-text {
    color: #7B7B7B;
  }
  
  .blog-posts-wrap .post-body-secondary {
    border-top: 1px solid #ECECEC;
  }
  
  .blog-posts-wrap .post-category {
    color: #7B7B7B;
    padding: 15px 0 10px 0;
  }
  
  /* Button Styling */
  .button-wrap {
    display: flex;
    justify-content: center;
    margin: 20px 0 20px 0;
  }
  
  .button {
    position: relative;
    background-color: #3089DB;
    padding: 20px 60px 20px 60px;
    box-shadow: 0px 6px 20px rgba(48,137,219,.60);
    transition: all .25s;
    top: 0;  
    border-radius: 10px;
    
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 2px;
  }
  
  .button:hover {
    border-radius: 10px;
    box-shadow: 0px 2px 10px rgba(48,137,219,.60);
    top: 2px;
  }