@import url("https://fonts.googleapis.com/css2?family=Poiret+One&display=swap");

:root {
  --rg8: rgba(0, 0, 0, 0.7);
  --bg: url("https://images.pexels.com/photos/2957860/pexels-photo-2957860.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1");
}

.teamMemberPreview {
  font-family: Arial;
  padding: 20px;
  background-image: var(--bg);
  background-size: cover;
  background-attachment: fixed;
}
.teamMemberPreview img {
  width: 100%;
}

.teamMemberPreview .blg_hea {
  padding: 30px;
  font-size: 40px;
  text-align: center;
  background: var(--rg8);
}
.teamMemberPreview h1 {
  background-image: var(--bg);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-size: cover;
  background-attachment: fixed;
}
.teamMemberPreview h2,
.teamMemberPreview h3,
.teamMemberPreview h5,
.teamMemberPreview p {
  background-image: var(--bg);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-size: cover;
  background-attachment: fixed;
  filter: brightness(250%);
}

.teamMemberPreview .blg_left_column {
  float: left;
  width: 75%;
}

.teamMemberPreview .blg_right_column {
  float: left;
  width: 25%;
  padding-left: 20px;
}

.teamMemberPreview .blg_fake {
  background-color: #aaa;
  width: 100%;
  padding: 20px;
}

.teamMemberPreview .blg_card {
  background-color: var(--rg8);
  padding: 20px;
  margin-top: 20px;
}

.teamMemberPreview .blg_row:after {
  content: "";
  display: table;
  clear: both;
}

.teamMemberPreview .blg_foo {
  padding: 20px;
  text-align: center;

  background: rgba(0, 0, 0, 0.7);
  margin-top: 20px;
}

@media screen and (max-width: 800px) {
  .teamMemberPreview .blg_left_column,
  .teamMemberPreview .blg_right_column {
    width: 100%;
    padding: 0;
  }
}
