.footer {
  border-top: 1px solid rgba(0, 238, 255, 0.238);
  /* position: absolute;
  left: 0;
  right: 0;
  bottom: 0; */
  background-color: #1b2431;
}

.footerContainer {
}

.footerWrapper {
  display: grid;
  grid-template-columns: 25% 25% 25% 25%;
  align-items: center;
  justify-content: center;
}

.footerHeader {
  font-size: 1.2rem;
  font-weight: 600;
  text-align: center;
  margin-top: 1rem;
  color: #0ef;
}

.footerItemLink {
  text-decoration: none;
  color: grey;
  font-size: 0.8rem;
  font-weight: 600;
  text-align: center;
  margin-top: 1rem;
}
.footerItemLink a {
  text-decoration: none;
  color: #0ef;
  font-size: 0.8rem;
  font-weight: 600;
  text-align: center;
  margin-top: 1rem;
}

.footerItemLinkSocial{
  text-decoration: none;
  color: #0ef;
  font-size: 0.8rem;
  font-weight: 600;
  text-align: left;
  margin-top: 1rem;
  margin-left: 8rem;
display: flex;
gap: 1rem;
}

.footerItemLinkSocial:hover{
  text-decoration: underline;
cursor: pointer;
}

.footerItemLinkSocial div{
  margin-top: .2rem;
}

.footerItemLink a:hover {
  text-decoration: underline;
}
.footerLink {
  border-top: 1px solid rgba(0, 238, 255, 0.238);
  text-decoration: none;
  color: grey;
  font-size: 0.8rem;
  font-weight: 600;
  text-align: center;
  margin-top: 1rem;
  margin-bottom: 1rem;
  background-color: #1b2431;

  padding-top: 1rem;
  padding-bottom: 1rem;

}
