.AddClientContent{
    .input-box-file {
        width           : 50%;
        margin          : auto;
        display         : flex;
        justify-content : center;
        align-items     : center;
        margin-top      : 2rem;
        margin-bottom   : 2rem;
      }
    
      .input-box-file label {
        border          : 1px solid black;
        padding         : 3rem;
        border-radius   : 10px;
        background-color: grey;
      }
}