.adminOverview {
  .overviewHeader {
    border-bottom: 1px solid white;
    margin-top: 3rem;
    h1 {
      color: white;
      text-align: center;
    }
  }

  .overviewBody {
    .overviewItems {
      height: 25vh;
      background-color: #ffffff32;
      width: 80%;
      margin: auto;
      margin-top: 3rem;
      display: grid;
      grid-template-columns: auto auto auto auto auto auto;
      gap: 2rem;
      padding: 1rem;
      border-radius: 20px;
      border: 3px solid #2159b9;
      box-shadow: 0 8px 8px 0 #2159b9;
      transition: 0.3s;

      .overviewItemsContainer {
        .overviewItemsContainerWrapper {
          width: 120px;
          height: 120px;
          border: 3px solid #2159b9;
          border-radius: 50%;
          position: relative;
          overflow: hidden;
          background-color: #2159b93d;

          .number {
            font-size: 2.4rem;
            color: white;
            text-align: center;
            margin-top: 2rem;
          }
        }
        .subHeader {
          color: white;
          text-align: center;
          font-size: 1.5rem;
          cursor: pointer;
        }
      }
    }

    .selectedContents {
      border-top: 1px solid white;
      border-bottom: 1px solid white;

      margin-top: 3rem;
    }
  }
}
